/** Globales **/
.contenedor {
  width: min(90%, 120rem);
  margin: 0 auto;
}
a {
  text-decoration: none;
}

/** Utilidades **/
.no-margin {
  /*no aplicar margenes*/
  margin: 0;
}
.no-padding {
  padding: 0;
}
.centrar-texto {
  text-align: center;
}

/** Header **/

.header {
  height: 14rem;
  background-size: cover; /*toma todo el espacio disponible*/
  background-repeat: no-repeat;
  background-position: center center; /*centrar imagen verticalmente y horizontalmente*/
}
.header__texto {
  text-align: center; /*titulo centrado*/
  color: white;
  margin-top: 5rem; /*separacion arriba*/
}
@media (min-width: 768px) {
  .header__texto {
    margin-top: 15rem;
  }
}
.barra {
  padding-top: 1rem;
}

@media (min-width: 768px) {
  .barra {
    display: flex; /*poner texto uno frente al otro*/
    justify-content: space-between; /*alinear elementos uno del lado derecho y el otro a la izquierda*/
    align-items: center; /*alinear verticalmente*/
  }
}
.logo {
  color: black; /*Color a nombre Blog*/
}
.logo__nombre {
  font-weight: 400;
}
.logo__bold {
  font-weight: 700;
}
@media (min-width: 768px) {
  .navegacion {
    display: flex; /*uno frente al otro*/
    gap: 2rem; /*separar*/
  }
}
.navegacion__enlace {
  display: block; /*para que los elementos esten unos debajos de otros*/
  text-align: center; /*centrar elementos*/
  font-size: 1.8rem;
  color: var(--blanco);
}

@media (min-width: 768px) {
  .contenido-principal {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
  }
}

form {
  width: 50%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  margin-bottom: 20px; /* Añade un margen inferior al formulario */
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}
input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.button {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.button:hover {
  background-color: #43e2138c;
}
.act {
  background-color: #8046cc;
}

.bor {
  background-color: #da2811;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #e9d362 0%,
    #333333 51%,
    #e9d362 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* Estilos para la tabla */
table {
  border-collapse: collapse; /*quitar separacion media */
  width: 53%;
  margin: 0 auto;
  margin-top: 20px; /* Añade un margen superior a la tabla */
}
/* Estilos para las filas */
tr {
  border-bottom: 1px solid #ddd;
}
/* Estilos para las celdas */
td,
th {
  padding: 10px;
  text-align: center;
}
/* Estilos para el encabezado de la tabla */
th {
  background-color: #4caf50;
  color: white;
}
/* Estilos para las filas pares */
tr:nth-child(even) {
  background-color: #f2f2f2;
}
