<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/producto.css" />
    <script src="../dto/facturaDTO.js"></script>
    <script src="../locator/locatorFactura.js"></script>
    <script src="../view/facturaView.js"></script>
    <title>ventas</title>
  </head>
  <body onload="getAll()">
    <header class="header">
      <div class="contenedor">
        <div class="barra">
          <a class="logo" href="Producto.html">
            <h1 class="logo__nombre no-margin centrar-texto">
              Soft<span class="logo__bold">Caribbean</span>
            </h1>
          </a>

          <nav class="navegacion">
            <a href="Producto.html" class="navegacion__enlace">Productos</a>
            <a href="Precio.html" class="navegacion__enlace">Precios</a>
            <a href="Vendedor.html" class="navegacion__enlace">Vendedores</a>
            <a href="Clientes.html" class="navegacion__enlace">Clientes</a>
            <a href="Factura.html" class="navegacion__enlace">Factura</a>
          </nav>
        </div>
      </div>
    </header>
    <form>
      <label>nmFactura</label>
      <input
        type="number"
        name="nmfactura"
        id="nmfactura"
        min="0"
        max="10000"
        step="1"
      />
      <label>cdfactura:</label>
      <input type="text" name="cdfactura" id="cdfactura" />
      <label>vendedorDTO:</label>
      <input type="text" name="vendedorDTO" id="vendedorDTO" />
      <label>clienteDTO:</label>
      <input type="text" name="clienteDTO" id="clienteDTO" />
      <label>fefactura:</label>
      <input type="text" name="fefactura" id="fefactura" />
      <!-- Botones acciones -->
      <input class="button" type="button" value="Guardar" onclick="insert()" />
      <input
        class="button act"
        type="button"
        value="Actualizar"
        onclick="insert()"
      />
      <input
        class="button bor"
        type="button"
        value="Borrar"
        onclick="delet()"
      />
    </form>

    <div class="tableCSS">
      <table class="table" id="lista_producto">
        <thead>
          <tr>
            <th>nmfactura</th>
            <th>cdfactura</th>
            <th>vendedorDTO</th>
            <th>clienteDTO</th>
            <th>fefactura</th>
          </tr>
        </thead>
        <tbody
          style="margin-top: 5%; text-align: center"
          id="lista_producto_body"
        ></tbody>
      </table>
    </div>
  </body>
</html>
