<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/producto.css" />
    <script src="../dto/producto.js"></script>
    <script src="../locator/locator.js"></script>
    <script src="../view/Producto.js"></script>
    <title>ventas</title>
  </head>
  <body onload="getAll()">
    <header class="header">
      <div class="contenedor">
        <div class="barra">
          <a class="logo" href="Producto.html">
            <h1 class="logo__nombre no-margin centrar-texto">
              Soft<span class="logo__bold">Caribbean</span>
            </h1>
          </a>

          <nav class="navegacion">
            <a href="Producto.html" class="navegacion__enlace">Productos</a>
            <a href="Precio.html" class="navegacion__enlace">Precios</a>
            <a href="Vendedor.html" class="navegacion__enlace">Vendedores</a>
            <a href="Clientes.html" class="navegacion__enlace">Clientes</a>
          </nav>
        </div>
      </div>
    </header>
    <form>
      <label>SKU:</label>
      <input type="number" name="sku" id="sku" min="1" max="10000" step="1" />
      <label>Producto:</label>
      <input type="text" name="dsproducto" id="dsproducto" />

      <input class="button" type="button" value="Guardar" onclick="insert()" />
      <input
        class="button act"
        type="button"
        value="Actualizar"
        onclick="insert()"
      />

      <button class="button bor" onclick="delet()">Borrar</button>
    </form>

    <div class="tableCSS">
      <table class="table" id="lista_producto">
        <thead>
          <tr>
            <th>codigo</th>
            <th>producto</th>
          </tr>
        </thead>
        <tbody
          style="margin-top: 5%; text-align: center"
          id="lista_producto_body"
        ></tbody>
      </table>
    </div>
  </body>
</html>
