<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/producto.css" />
    <script src="../dto/vendedor.js"></script>
    <script src="../locator/locatorVendedor.js"></script>
    <script src="../view/Vendedor.js"></script>
    <title>ventas</title>
  </head>
  <body onload="getAll()">
    <header class="header">
      <div class="contenedor">
        <div class="barra">
          <a class="logo" href="Producto.html">
            <h1 class="logo__nombre no-margin centrar-texto">
              Soft<span class="logo__bold">Caribbean</span>
            </h1>
          </a>

          <nav class="navegacion">
            <a href="Producto.html" class="navegacion__enlace">Producto</a>
            <a href="Clientes.html" class="navegacion__enlace">Clientes</a>
            <a href="Vendedor.html" class="navegacion__enlace">Vendedor</a>
            <a href="contacto.html" class="navegacion__enlace">Contacto</a>
          </nav>
        </div>
      </div>
    </header>
    <form>
      <label>NmVendedor</label>
      <input
        type="number"
        name="nmvendedor"
        id="nmvendedor"
        min="0"
        max="10000"
        step="1"
      />
      <label>Documento:</label>
      <input type="text" name="documento" id="documento" />
      <label>Nombres:</label>
      <input type="text" name="dsnombres" id="dsnombres" />
      <label>Apellidos:</label>
      <input type="text" name="desapellido" id="desapellidos" />
      <label>Dirección:</label>
      <input type="text" name="dsdireccion" id="dsdireccion" />
      <!-- Botones acciones -->
      <input class="button" type="button" value="Guardar" onclick="insert()" />
      <input
        class="button act"
        type="button"
        value="Actualizar"
        onclick="insert()"
      />
      <input
        class="button bor"
        type="button"
        value="Borrar"
        onclick="delet()"
      />
    </form>

    <div class="tableCSS">
      <table class="table" id="lista_producto">
        <thead>
          <tr>
            <th>NmVendedor</th>
            <th>Documento</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Dirección</th>
          </tr>
        </thead>
        <tbody
          style="margin-top: 5%; text-align: center"
          id="lista_producto_body"
        ></tbody>
      </table>
    </div>
  </body>
</html>
